﻿@{
    var fees = (List<AdminPortal.Models.MTransactionCharges>)ViewBag.fees;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Lower Limit</th>
                        <th>Upper Limit</th>
                        <th>Fee</th>
                        <th>IsPercentage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in fees)
                    {
                    <tr>
                        <td title="@item.ETransactionType.TransactionType">@item.ETransactionType.TransactionType</td>
                        <td title="@item.LowerLimit.ToString("0.00")">@item.LowerLimit.ToString("0.00")</td>
                        <td title="@item.UpperLimit.ToString("0.00")">@item.UpperLimit.ToString("0.00")</td>
                        <td title="@item.TransactionFee.ToString("0.00")">@item.TransactionFee.ToString("0.00")</td>
                        <td title="@item.IsPercentage">@item.IsPercentage</td>
                        <td>
                            <a href="javascript:void(0);" onclick="confirm_delete('@item.Id')" style="color:red;">
                                Delete
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/TransactionTypes/DeleteFeeCharge" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Fee?',
            buttons: {
                Yes: function () {
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>
