﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //load the charges via ajax
    var transaction_type_id = (int)ViewBag.transaction_type_id;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="javascript.void(0);" onclick="AddFee(); return false;" style="color:blue;">
                &nbsp;&nbsp;&nbsp;&nbsp; Add Fee
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif" />
            </center>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="new_fee">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="~/TransactionTypes/AddFeeCharge" method="post">
                    <input type="hidden" value="@transaction_type_id" name="ETransactionTypeId" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="number" name="LowerLimit" step="any" class="form-control" placeholder="0.00" required>
                                <small class="form-text text-muted"><span style="color:red;">* </span>Lower Limit</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="number" name="UpperLimit" step="any" class="form-control" placeholder="0.00" required>
                                <small class="form-text text-muted"><span style="color:red;">* </span>Upper Limit</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="number" name="TransactionFee" step="any" class="form-control" placeholder="0.00" required>
                                <small class="form-text text-muted"><span style="color:red;">* </span>Transaction Fee</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select name="IsPercentage" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                                <small class="form-text text-muted"><span style="color:red;">* </span>Is Percentage</small>
                            </div>
                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content("~/TransactionTypes/ajaxTransactionFees"))/@transaction_type_id",
        success: function (data) {
            $("#data").html(data);
            $("#loader").hide();
        },
        error: function () {
            alert('Server error');
            $("#loader").hide();
        },
    }).then(function () {
         $("#loader").hide();
    });



    function AddFee() {
        $("#new_fee").modal("show");
    }

</script>
