﻿@{
    var wallets = (List<AdminPortal.Models.MWallet>)ViewBag.wallets;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Mobile</th>
                        <th>Balance</th>
                        <th>Token</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in wallets)
                    {
                        <tr>
                            <td title="@item.WhatsAppMobileNumber">@item.WhatsAppMobileNumber</td>
                            <td title="@item.Balance.ToString("0.00")">@item.Balance.ToString("0.00")</td>
                            <td title="@item.MOtpTokens?.Otp">@item.MOtpTokens?.Otp</td>
                            <td>
                                <a href="~/Wallets/AllTransactions/@item.WhatsAppMobileNumber" style="color:blue;">
                                    Transactions
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/FuelStations/DeleteStation" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Station?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>