﻿@{
    var transactions = (List<AdminPortal.Models.MTransactions>)ViewBag.transactions;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Transacitions for: <span style="color:red;">@transactions.FirstOrDefault()?.WhatsAppMobileNumber</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="dt" class="table tblsm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in transactions)
                    {
                        <tr>
                            <td title="@item.Date.ToString("yyyy-MM-dd")">@item.Date.ToString("yyyy-MM-dd")</td>
                            <td title="@item.Amount.ToString("0.00")">@item.Amount.ToString("0.00")</td>
                            <td title="@item.EnumTransactionTypeNavigation.TransactionType">@item.EnumTransactionTypeNavigation.TransactionType</td>
                            <td title="@item.From">@item.From</td>
                            <td title="@item.To">@item.To</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<form action="~/FuelStations/DeleteStation" method="post" id="f1">
    <input type="hidden" name="id" id="delete_id" />
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this Station?',
            buttons: {
                Yes: function () {
                    ///window.location = "../Papers/DeletePaper/" + id;
                    $("#delete_id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>
