﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var wallet = (AdminPortal.Models.MWallet)ViewBag.wallet;
    //load the wallets via ajax
}



<div class="container">
    <div class="row">
        <div class="col-md-12" id="data">
            <center id="loader">
                <img src="~/assets/img/_loading.gif" />
            </center>
        </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "@(Url.Content("~/Wallets/ajaxAllTransactions"))/@wallet.WhatsAppMobileNumber",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Server error');
        },
    }).then(function () {
         $("#loader").hide();
    });

    
   
</script>