﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*highcharts*@
<link href="~/libs/highcharts/highcharts.css" rel="stylesheet" />
<script src="~/libs/highcharts/highcharts.js"></script>
<script src="~/libs/highcharts/highcharts-more.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">Transaction Ratios</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form style="width:100%" action="~/Home/Dashboard">
                                <input type="text" name="date_from" id="date_from" style="width:100%" placeholder="yyyy-mm-dd" value="@ViewBag.date_from" />
                                <input type="text" name="date_to" id="date_to" style="width:100%" placeholder="yyyy-mm-dd" value="@ViewBag.date_to" />
                                <button type="submit" class="btn btn-primary btn-sm btn-block">Change</button>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">Transaction Count</div>
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">

            <div class="card text-white mb-3">
                <div class="card-header" style="color:black;">Transaction Fees <h5>total: @ViewBag.total_fees</h5></div>
                <div class="card-body">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>

    </div>


</div>



<script type="text/javascript">
    // Radialize the colors
    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });

    // Build the chart
    Highcharts.chart('chart1', {
        credits: {
                enabled: false
            },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',

        },
        title: {
            text: 'Transactions ratios'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Transactions ratios',
            data: [
                @Html.Raw(ViewBag.chart1)
            ]
        }]
    });
</script>


<script type="text/javascript">
    Highcharts.chart('chart2', {
        credits: {
                enabled: false
            },
        chart: {
            type: 'column',

        },
        title: {
            text: 'Transactions count'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Transactions count'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Subscribers',
            data: [
                @Html.Raw(ViewBag.chart2)
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>


<script type="text/javascript">
    Highcharts.chart('chart3', {
        credits: {
                enabled: false
            },
        chart: {
            type: 'column',

        },
        title: {
            text: 'Transactions fees'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Transactions fees'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Subscribers',
            data: [
                @Html.Raw(ViewBag.chart3)
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>


<script>
    $('#date_from').Zebra_DatePicker({
        format: "Y-m-d",
        pair: $('#date_to')
    });
    $('#date_to').Zebra_DatePicker({
        format: "Y-m-d",
    });
</script>